---
import Layout from '../../../layouts/Layout.astro';
import CrudShow from '../CrudShow';
//import type { Post } from '../index.astro';

//
const { id } = Astro.params;
console.log(id);
let item: any = await CrudShow.get(Number(id));
console.log(item);
---
<!-- -->
<style>
</style>

<!-- MarkUp -->
<Layout title="Welcome to Astro.">
    <main class="container">
        <a class="btn btn-outline-primary" href={`/plan`}>Back</a>
        <hr />		
        <h1>Edit: {item.p_date}</h1>
        <p>Id:{id}</p>
        <hr />
        <div class="row">
            <input type="hidden" value={id} id="item_id" />
            <input type="hidden" value={item.completed} id="item_completed" />
            <div>
                <label for="content">内容</label>
                <textarea id="content" name="content" required
                class="form-control"
                rows="10">{item.content}</textarea>
            </div>
            <hr />			
        </div>
        <button id="btn_save" class="btn btn-primary">Save</button>
    </main>
</Layout>
<!-- -->
<script src="../CrudEdit.ts"></script>

<!--
	
 -->